.card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dropdown-menu {
    margin-left: 10px;
}

.card {
    border: 3px solid rgb(209, 209, 209);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    width: 280px;
}

.card-header {
    padding: 10px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    border: white;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    padding: 10px;
}

.mat-menu-item {
    cursor: pointer;
}

.priority-badge {
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 4px 8px;
    border-radius: 15px;
    color:rgb(85, 85, 85);
    font-size: small;
    background-color: rgb(236, 236, 236);
  }

.priority-badge::before {
    content: '';
    display: inline-block;
    width: 8px; 
    height: 8px; 
    background-color: rgb(85, 85, 85);
    border-radius: 50%;
    margin-right: 5px;
  }

.move-to-button{
    padding: 8px 15px 8px 15px;
    width: 100%; 
    background-color: #f0f0f0; 
    border: 0px; 
    border-radius: 5px; 
    color: black; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
