.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.activity-message{
    display: flex;
    flex-direction: row;
}

.activity-timestamp{
    font-style: italic;
}
.icon{
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 0px;
    font-size: 0.73em;
    vertical-align: middle;
}