<div>
    <header class="header" style="padding: 20px;">
        <div style="display: flex; flex-direction: row; width: 100%;">
            <h2>My Task Boards</h2>
            <button mat-icon-button (click)="toggleAddingBoard()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="addingBoard" class="edit-board-form">
            <input type="text" [(ngModel)]="newBoardTitle" class="board-input" placeholder="Enter new board title">
                <button class="save-button" (click)="addBoard()">Add</button>
                <button class="cancel-button" (click)="cancelAdding()">Cancel</button>
        </div>
        <mat-select style="font-size: 28px; width: 50%;" *ngIf="!isEditing" (valueChange)="onBoardSelected($event)" [(value)]="currentBoardId" placeholder="{{ selectedBoardName || 'Select Board' }}">
            <mat-option *ngFor="let board of boards" [value]="board.id"> {{ board.name }}</mat-option>
        </mat-select>
        <div *ngIf="isEditing" class="edit-board-form">
            <input type="text" [(ngModel)]="editedBoardTitle" class="board-input" placeholder="Enter board title">
            <button class="save-button" (click)="saveEdit()">Save</button>
            <button class="cancel-button" (click)="cancelAdding()">Cancel</button>
        </div>
        <button *ngIf="isBoardSelected" mat-icon-button [matMenuTriggerFor]="boardMenu" aria-label="Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #boardMenu="matMenu">
            <button mat-menu-item (click)="isEditing = true"><mat-icon>create</mat-icon> Edit</button>
            <button mat-menu-item (click)="delete()" style="color: red"><mat-icon style="color: red">delete_outline</mat-icon> Delete</button>
          </mat-menu>
        <button *ngIf="isBoardSelected" class="history-button" (click)="onToggleActivityMenu()">
            <mat-icon style="margin-right: 5px;">history</mat-icon> History
        </button>
    </header>
</div>